<!DOCTYPE html>
<html>
  <head>
    <title>Maps Engine API Upload</title>
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    {% block extrahead %} {% endblock extrahead %}
  </head>
  <body>
    <div class="container">
      <div style="background: #5cb85c; height: 16px;" class="span12">
      </div>
      <center><img src="/static/mapsengine_small.png"></center>
      {% block body %} {% endblock body %}
    </div>
  </body>
</html>
