{% extends "templates/base.html" %}
{% block body %}

    {% if error %}
    <h3>{{error}}</h3>
    {% endif %}
    <form enctype="multipart/form-data" method="post" action="/upload">
      Select a project:
      <select id="project-list" name="projects">
        {% for project in projects %}
        <option value="{{project.id}}">{{project.name}}
        {% endfor %}
      </select>
      <br><br>
      <p><label for="id_file_obj">Upload a Zipped Shapefile:</label>
      <input type="file" name="file_obj" id="id_file_obj" />
      <br><br>
      <textarea rows="4" cols="50" name="description" id="description"
                placeholder="Description of the dataset"></textarea>
      <br><br>
      <input type="text" size=70 name="tags" id="tags"
             placeholder="list of comma, separated, tags" />

      <br><br>
      <input type="submit" value="Upload" />

    </form>

{% endblock %}
